torch
torchvision
einops
numpy
trimesh
transformers
accelerate
rembg
imageio[ffmpeg]
Pillow
scipy
tqdm
lpips
# note: pytorch3d and torchmcubes may need custom installation based on your CUDA version.
# see network.py and code/focus.py comments for hints.
